@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
.welcome {
    padding: 50px 100px;
    margin-top: 90px;
    background-color: #fff;
    box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.2);
}

.welcome h1 {
    color: black;
    font-family: papyrus;
}

.welcome h2 {
    color: black;
    font-family: papyrus;
    font-weight: bolder;
}

.welcome p {
    font-family: Lucida Handwriting;
    font-weight: 4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myhobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-right: 0px;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: papyrus;
    font-weight: bolder;
    text-align: center;
}

.container .box {
    position: relative;
    width: 275px;
    height: 135px;
    overflow: hidden;
    transition: 0.5s;
}

.container .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgb(230, 120, 17));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    padding: 10px;
    align-items: fl;
    font-weight: bold;
    font-family: papyrus;
}

.container .box .content .h2 {
    align-items: center;
    color: whitesmoke;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
}

.myhobby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    padding-r: 0px;
}

.contain {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.contain .box {
    position: relative;
    box-sizing: border-box;
    width: 275px;
    height: 135px;
    overflow: hidden;
    transition: 0.5s;
}

.contain .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.contain .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contain .box:hover .imgBx:before {
    opacity: 1;
}

.contain .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: whitesmoke;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    font-weight: bold;
    font-family: papyrus;
}

.contain .box .content .h2 {
    align-items: center;
    color: whitesmoke;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 40%;
    display: inline-block;
}

.button {
    background-color: black;
    font-size: 28px;
    color: grey;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 70px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    font-family: papyrus;
}

.button:hover {
    background-color: grey;
}

.button:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.header h3 {
    font-family: Lucida Handwriting;
    text-align: center;
}

.middle {
    position: absolute;
    padding-bottom: 80px;
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: chocolate;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn:hover i {
    transfor: scale(1.3);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(10, 10, 148);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        top: -110%;
        left: 90%;
    }
    50% {
        top: -10%;
        left: -10%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(14, 13, 13);
    color: white;
    text-align: center;
}